<!DOCTYPE html>
<html>
	<head>
		<title>Audio</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../css/slider.css">
	</head>
	<body>
		<div class="slider slider16">
			<header class="header">
				<p>Header</p>
			</header>
			<nav class="nav">
				<p>Nav</p>
			</nav>
			<div class="content-body">
				<div class="audio-example">
					<h2>Audio</h2>
					<audio controls autoplay preload="auto">
						<source src="http://www.w3schools.com/tags/horse.ogg" type="audio/ogg">
						<source src="http://www.w3schools.com/tags/horse.mp3" type="audio/mp3">
						Your browser does not support the audio element.
					</audio>
					<audio controls autoplay loop preload="auto">
						<source src="http://www.w3schools.com/tags/horse.ogg" type="audio/ogg">
						<source src="http://www.w3schools.com/tags/horse.mp3" type="audio/mp3">
						Your browser does not support the audio element.
					</audio>
				</div>
			</div>
			<footer class="footer">
				<p>Footer</p>
			</footer>
		</div>
	</body>
</html>