<!DOCTYPE html>
<html>
	<head>
		<title>Canvas</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../css/slider.css">
		<style>
		.myCanvas{
			border : 1px solid black;
		}
		</style>
	</head>
	<body>
		<div class="slider slider16">
			<header class="header">
				<p>Header</p>
			</header>
			<nav class="nav">
				<p>Nav</p>
			</nav>
			<div class="content-body">
				<div class="canvas-example">
					<h2>Canvas</h2>
					<canvas id="myCanvas" class="myCanvas" width="500" height="250">
					</canvas>
				</div>
			</div>
			<footer class="footer">
				<p>Footer</p>
			</footer>
		</div>
		<script src="../js/libs/jquery/jquery.js"></script>
		<script src="js/myjs.js"></script>
	</body>
</html>