<!DOCTYPE html>
<html>
	<head>
		<title>Slider 13</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="css/encore.css">
		<link rel="stylesheet" href="css/styles.css">
	</head> 
	<body>
		<div class="slider slider13">
			<!--<div class="header bg-dark">
				<p>Header</p>
			</div>
			<div class="nav bg-orange">
				<p>Nav</p>
			</div>
			<!--<div class="content-body">
				<!--<div class="css-example bg-orange">
					<h1>CSS</h1>
					<div class="bg-color"></div>
				</div>
				<div class="content-left bg-orange ">
					<div class="article border-none">
						<p>Article</p>
					</div>
					<div class="section bg-brown bor-dark-orange">
						<p>Section</p>
					</div>
				</div>
				<div class="content-right bg-orange">
					<div class="sidebar">
						<p>Sidebar</p>
					</div>
				</div>
			</div>-->
			<!-- <div class="nc-grid center border bor-dark bg-light">
				<div class="nc-row">
					<div class="nc-col-4">A</div>
					<div class="nc-col-4">B</div>
					<div class="nc-col-4">C</div>
				</div>
				<div class="nc-row">
					<div class="nc-col-6">D</div>
					<div class="nc-col-6">E</div>
				</div>
				<div class="nc-row">
					<div class="nc-col-12">F</div>
				</div>
			</div>
			<div class="footer bg-dark bold">
				<p>Footer</p>
			</div>-->

			<div class="transform-examples">
				<div class="skew">skew</div>
				<div class="scale">scale</div>
				<div class="rotate">rotate</div>
				<div class="translate">translate</div>
				<div class="rotate-skew-scale-translate">rotate-skew-scale-translate</div>
			</div>

			<div class="anima-hover">
				<div class="hover">
					hover
				</div>
			</div>

			<div class="transforms-container-3d hide-container">
				<h2>3D Examples</h2>
				<p>3D CSS transforms</p>
				<div class="threed-example shadow hover">
					<div class="rotateX">rotateX</div>
					<div class="rotateY">rotateY</div>
					<div class="rotateZ">rotateZ</div>
					<p class="center">Hover me</p>
					<div class="clear"></div>
				</div>
			</div>
			<div class="example-css-keyframes">
			</div>
		</div>
	</body>
</html>