<!DOCTYPE html>
<html>
	<head>
		<title>Slider 13</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../css/slider.css">
	</head>
	<body>
		<div class="slider slider13">
			<div class="header">
				<p>Header</p>
			</div>
			<div class="nav">
				<p>Nav</p>
			</div>
			<div class="content-body">
				<div class="content-left">
					<div class="article">
						<p>Article</p>
					</div>
					<div class="section">
						<p>Section</p>
					</div>
				</div>
				<div class="content-right">
					<div class="sidebar">
						<p>Sidebar</p>
					</div>
				</div>
			</div>
			<div class="footer">
				<p>Footer</p>
			</div>
		</div>
	</body>
</html>