<!DOCTYPE html>
<html>
	<head>
		<title>HMTL5</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../css/slider.css">
	</head>
	<body>
		<div class="slider slider14">
			<header class="header">
				<p>Header</p>
			</header>
			<nav class="nav">
				<p>Nav</p>
			</nav>
			<div class="content-body">
				<section class="content-left">
					<article class="article">
						<p>Article</p>
					</article>
					<article class="article">
						<p>Section</p>
					</article>
				</section>
				<section class="content-right">
					<aside class="sidebar">
						<p>Sidebar</p>
					</aside>
				</section>
			</div>
			<footer class="footer">
				<p>Footer</p>
			</footer>
		</div>
	</body>
</html>